*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #e5e0e0;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url(images/background.JPG);
    background-size: cover;
    background-position: left;
    background-blend-mode: color-burn;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    position: right;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #5d3939;
    position: absolute;
    left: 0; 
    bottom: -6px;
    transition: 0.5s
}

nav ul li a:hover::before{
    width: 100%;
}

.header-txt{
    padding-top: 120px;
    align-items: center;
}

.header-txt h1{
    font-size: 50px;
}

.header-col-1{
    flex-basis: 15%;
}

/* ----Education----*/
#About{
    padding: 80px 0;
    color: #493939;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Education-col-1{
    flex-basis: 35%;
}

.Education-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.Education-col-2{
    flex-basis: 60%;
}

.sub-tile{
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #9567b5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li span{
    color: #9567b5;
    font-size: 15px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*------My Experience------*/
#Experience{
    padding: 30px 0;
    color: #493939;
}

.Experience-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.Experience-list div{
    background: linear-gradient(180deg, rgba(149, 103, 181, 0.86) 0%, rgba(59, 104, 190, 0.205129) 99.97%, rgba(217, 217, 217, 0) 99.98%, rgba(217, 217, 217, 0) 99.99%);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.Experience-list div i{
    font-size: 40px;
    margin-bottom: 15px;
}

.Experience-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Experience-list div p{
    font-size: 20px;
}
.Experience-list div a{
    text-decoration: none;
    color:#764e92;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}

.Experience-list div:hover{
    background:#beafe0;
    transform: translateY(-10px);
}

/*---- project ----*/
#project{
    padding: 50px 0;
    color: #493939;
}

/*----contact----*/
.contact-items{
    flex-basis: 35%;
    color:#493939;
    margin-top: 10px;
}

.contact-items p{
    margin-top: 20px;
}

.contact-items p i{
    color:#493939;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 15px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #493939;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:#764e92;
    transform: translateY(-5px);
}

.social-icons a p{
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #764e92;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color:#493939;
    transition: 0.5s;
}

.btn:hover{
    background: #beafe0;
}

.btn{
    display: inline-block;
}

/*-- HackMIT page --*/

.HackMIT-content{
    padding-top: 20px;
}

ul{
    font-size: 20px;
}

li{
    padding: 10px;
}

i{
    font-size: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#About nav ul li a{
    color: #5d3939;
    text-decoration: none;
    font-size: 20px;
    position: right;
}

nav ul li i{
    color:#493939;
    margin-right: 15px;
    font-size: 25px;
}